@charset "UTF-8";
/* CSS Document */

/*----------------------------------------
TABLE OF CONTENTS:
------------------------------------------*/

/*-------------------
1.0	SETTINGS
---------------------*/

/*-------------------
2.0	TOOLS
---------------------*/

/*-------------------
3.0	GENERIC
---------------------*/

/*-------------------
4.0	ELEMENTS
---------------------*/
/*---FORMS---*/
/*---LISTS---*/
/*---MEDIA---*/
/*---TABLES---*/
/*---TYPOGRAPHY---*/

/*-------------------------
5.0	OBJECTS
---------------------------*/
/*---FRAMEWORK---*/

/*-------------------------
6.0	COMPONENTS
---------------------------*/
/*---BUTTONS---*/
/*---HEADER---*/
/*---NAVIGATION---*/

/*-------------------------
7.0	UTILITIES
---------------------------*/
/*---ALIGNMENT---*/
/*---COLORS---*/
/*---SIZE---*/




/*-----4.0 ELEMENTS-----*/


/*---forms---*/


input {
    display: block;
}

label {
    display: none;
}


/*---lists---*/


li {
    display: inline-block;
}

li a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

/*---media---*/

:focus {
    outline: none;
}

#bg-hero {
    background-image: url("../img/img-hero.jpg");
}

#process {
    background-image: url("../img/img-process.jpg");
}

footer li:first-child a{
    background-image: url("../img/sprite-fb.png");
}

footer li:nth-child(2) a {
    background-image: url("../img/sprite-twitter.png");
}

footer li:last-child a {
    background-image: url("../img/sprite-insta.png");
}

footer li a {
    background-repeat: no-repeat;
}


/*---typography---*/

body {
    font-family: aaux next, sans-serif;
}

blockquote footer, h2 {
    font-weight: 300;
}

featured header p {
    font-weight: 400;
}

#bg-hero p, #bg-hero a, #roasts a, #process p, footer {
    color: #FCF2E8;
}

nav a, #bg-hero p, h2, h3, #featured p, blockquote, #roasts, #brew p:first-child, #ship p:first-child, input, footer {
    font-family: oswald, sans-serif;
}

h2, h3, #bg-hero a {
    text-transform: uppercase;
}

/*-----6.0 COMPONENTS-----*/


footer label {
    display: inline;
}

.mapouter {
    position:relative;
    text-align:right;
    height:500px;
    width:100%;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:500px;
    width:100%;
}


/*---buttons---*/

a {
    text-decoration: none;
}
 
nav a, footer a {
    color: #F4EBE4;
}

nav a:hover, footer a:hover {
    color: #CBAA88;
    border-bottom: .1em solid  #CBAA88;
}

#bg-hero p a {
    border: .5px solid #F4EBE4;
    -moz-border-radius: .3em;
    -ms-border-radius: .3em;
    -webkit-border-radius: .3em;
    -o-border-radius: .3em;
    border-radius: .3em;
    padding: .3em 2em;
} 

#bg-hero p a:hover {
    border: .5px solid #1F0C00;
    background-color: #1F0C00;
}

.btn {
    border: .5px solid #1F0C00;
    -moz-border-radius: .3em;
    -ms-border-radius: .3em;
    -webkit-border-radius: .3em;
    -o-border-radius: .3em;
    border-radius: .3em;
    background-color: #1F0C00;
    padding: .3em 2em;
}

.btn:hover {
    border: .5px solid #EBD3B9;;
    background-color: #EBD3B9;
}

.btn:visited {
    color: #F4EBE4; 
}

/*---navigagion---*/





/*-----7.0 UTILITIES-----*/

.ctr-block {
    margin: 0 auto;
}

.f-right {
    float: right;
}

.h-rule, .h-rule-wht {
    height: .1em;
}

.h-rule {
    background-color: #CBAA88;
}

.h-rule-wht {
    background-color: #FCF2E8;
}

.txt-ctr, h2 {
    text-align: center;
}

/*---colors---*/

#bg-dk-brn, #bg-footer {
    background-color: #1F0C00;
}

#brew {
    background-color: #F4EBE4;
}

#featured, #roasts {
    background-color: #FCF2E8;
}

blockquote {
    background-color: #EBD3B9;
}



