@charset "UTF-8";
/* CSS Document */

/*----------------------------------------
TABLE OF CONTENTS:
------------------------------------------*/

/*-------------------
1.0	SETTINGS
---------------------*/

/*-------------------
2.0	TOOLS
---------------------*/

/*-------------------
3.0	GENERIC
---------------------*/

/*-------------------
4.0	ELEMENTS
---------------------*/
/*---FORMS---*/
/*---LISTS---*/
/*---MEDIA---*/
/*---TABLES---*/
/*---TYPOGRAPHY---*/

/*-------------------------
5.0	OBJECTS
---------------------------*/
/*---FRAMEWORK---*/

/*-------------------------
6.0	COMPONENTS
---------------------------*/
/*---BUTTONS---*/
/*---HEADER---*/
/*---NAVIGATION---*/

/*-------------------------
7.0	UTILITIES
---------------------------*/
/*---ALIGNMENT---*/
/*---COLORS---*/
/*---SIZE---*/




/*----7.0 UTILITIES----*/

.ctr-block {
    margin: 0 auto;
}

.f-right {
    float: right;
}

.h-rule, .h-rule-wht {
    height: .1em;
}

.h-rule {
    background-color: #CBAA88;
}

.h-rule-wht {
    background-color: #FCF2E8;
}

.txt-ctr, h2 {
    text-align: center;
}

/*---colors---*/

#process {
    background-color: #585858;
}


